// ************************************************************
//                      font
// ************************************************************
// 行間
%lineHeight {
	line-height: 1.8;
}
// 見出し行間
%headingLineHeight {
	line-height: 1.5;
}
// ************************************************************
//                      margin・padding
// ************************************************************
// margin: 0 auto
%m0a {
	margin: 0 auto;
}
// ************************************************************
//                      position
// ************************************************************
// PDFアイコン、外部リンクアイコンポジション
%icon_position {
	content: '';
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0 3px;
}




