@use "sass:math";
@use "../core/rule";

// font-size(rem)
@function rem($pixels) {
    @return math.div($pixels, rule.$baseFontSize) * 1rem;
}

// media
@mixin col($mediaCol: 3, $meidaMarginRight: 30, $mediaMarginBotom: 30, $mediaMarginBotomSp: 30) {
    display: flex;
    flex-wrap: wrap;
    &_item {
        width: calc((100% / #{$mediaCol}) - #{$meidaMarginRight * (math.div($mediaCol - 1, $mediaCol))}px);
        margin-right: #{$meidaMarginRight}px;
        margin-bottom: #{$mediaMarginBotom}px;
        @include sp {
            width: 100%;
            margin-right: 0;
            margin-bottom: #{$mediaMarginBotomSp}px;
        }
        &:nth-of-type(#{$mediaCol}n) {
            margin-right: 0;
        }
        &:nth-last-of-type(-n+#{$mediaCol}) {
            margin-bottom: 0;
            @include sp {
                margin-bottom: #{$mediaMarginBotomSp}px;
            }
        }
        &:last-of-type {
            @include sp {
                margin-bottom: 0;
            }
        }
    }
}


// transition
@mixin transition($transition: rule.$speed ease) {
    transition: $transition;
}

// content
@mixin contentWidth($width: 960) {
    .l-content {
        position: relative;
        &_w#{$width} {
            width: $width + px;
            margin: 0 auto;
            @include sp {
                width: auto;
                @include spPadding;
                .l-content_w#{$width} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

// padding
@mixin spPadding($left: rule.$spPadding, $right: rule.$spPadding) {
    padding-left: $left;
    padding-right: $right;
}

// position: absoluteのposition指定
@mixin positionCenter($top: 50%, $left: 50%, $translateX: -50%, $translateY: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translateX($translateX);
    transform: translateY($translateY);
}

// 文字間
@mixin letterSpace($letterSpace) {
    letter-spacing: $letterSpace + em;
    text-indent: $letterSpace + em;
}

// 正円
@mixin circle($size){
    width: $size + px;
    height: $size + px;
    @include border-radius(100%);
}

// 3点リーダー
@mixin ellipsis($line){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
}

//矢印
@mixin arrow($direction: right, $size: 10, $color: $black){
    $set: left;

    @if $direction == left{
        $set: right;
    }@else if $direction == top{
        $set: bottom;
    }@else if $direction == bottom{
        $set: top;
    }@else{
        $set: left;
    }
    $size: round($size / 2);

    width: 0;
    height: 0;
    border: $size + px solid transparent;
    border-#{$set}-color: $color;
}


// radius
@mixin radius($radius: rule.$radius) {
    border-radius: $radius;
}

// media querys
@mixin sp {
    @media screen and (max-width: rule.$sp) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: rule.$sp + 1) and ( max-width:$tablet) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: rule.$sp + 1) {
        @content;
    }
}
