// font-size(rem)
@function rem($pixels) {
    @return $pixels / $baseFontSize * 1rem;
}

// heading


// transition
@mixin transition($transition: $speed ease) {
    transition: $transition;
}

// content
@mixin contentWidth($width: 960) {
    .l-content {
        position: relative;
        &_w#{$width} {
            width: $width + px;
            margin: 0 auto;
            @include sp {
                width: auto;
                @include spPadding;
                .l-content_w#{$width} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

// padding
@mixin spPadding($left: $spPadding, $right: $spPadding) {
    padding-left: $left;
    padding-right: $right;
}

// position: absoluteのposition指定
@mixin positionCenter($top: 50%, $left: 50%, $translateX: -50%, $translateY: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translateX($translateX);
    transform: translateY($translateY);
}

// 文字間
@mixin letterSpace($letterSpace) {
    letter-spacing: $letterSpace + em;
    text-indent: $letterSpace + em;
}

// 正円
@mixin circle($size){
    width: $size + px;
    height: $size + px;
    @include border-radius(100%);
}

// 3点リーダー
@mixin ellipsis($line){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
}

//矢印
@mixin arrow($direction: right, $size: 10, $color: $black){
    $set: left;

    @if $direction == left{
        $set: right;
    }@elseif $direction == top{
        $set: bottom;
    }@elseif $direction == bottom{
        $set: top;
    }@else{
        $set: left;
    }
    $size: round($size / 2);

    width: 0;
    height: 0;
    border: $size + px solid transparent;
    border-#{$set}-color: $color;
}


// radius
@mixin radius($radius: $radius) {
    border-radius: $radius;
}

// listDisc
@mixin listDisc($size: 3px, $posTop: 13px, $color: $textColor) {
    margin-left: 10px;
    & li{
        margin-bottom: 5px;
        position: relative;
        padding-left: 14px;
        &:before{
            content: "";
            display: block;
            width: $size;
            height: $size;
            background-color: $color;
            border-radius: 50%;
            position: absolute;
            top: $posTop;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

// listCicle
@mixin listCicle($color: #333) {
    margin-left: 10px;
    & > li{
        margin-bottom: 5px;
        position: relative;
        padding-left: 14px;
        &:before{
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            background: #fff;
            border-radius: 50%;
            border: $color 2px solid;
            position: absolute;
            top: 10px;
            left: 0;
            @include sp {
                top: 8px;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

// listNumber
@mixin listNumber {
    margin-bottom: 5px;
    position: relative;
    margin-left: 20px;
    list-style: decimal;
    &:last-child{
        margin-bottom: 0;
    }
}

// media querys
@mixin sp {
    @media screen and (max-width: $sp) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width:$sp + 1) and ( max-width:$tablet) {
        @content;
    }
}
