/*=== basic ===*/

*{
	box-sizing: border-box;
	word-break: break-word;
}
body {
	margin: 0;
	padding: 0;
	font-size: $baseFontSize;
	font-family: $gothic;
	color: $textColor;
	-webkit-font-smoothing: antialiased;
	@include sp {
		font-size: $spBaseFontSize;
	}
}
a {
	color: $linkColor;
	@extend %lineHeight;
	text-decoration: none;
}
p {
	margin-bottom: $textBottom;
	@extend %lineHeight;
	@include sp {
		margin-bottom: $spTextBottom;
	}
}
h1 {
	@extend %headingLineHeight;
	margin-bottom: $textBottom;
}
h2 {
	@extend %headingLineHeight;
}
h3 {
	@extend %headingLineHeight;
}
h4 {
	@extend %headingLineHeight;
}
h5 {
	@extend %headingLineHeight;
}
th {
	@extend %lineHeight;
}
td {
	@extend %lineHeight;
}
dt {
	@extend %lineHeight;
}
dl {
	@extend %lineHeight;
}
dl,ul,ol {
	margin-bottom: $textBottom;
	padding: 0;
	@include sp {
		margin-bottom: $spTextBottom;
	}
}
li {
	@extend %lineHeight;
}
em {
	font-style: italic;
}
img {
	@include sp {
		max-width: 100%;
		height: auto;
	}
}
