/*=== @use ===*/
@use "../core/extend";
@use "../core/rule";
@use "../core/mixin";
@use "../core/sprite_mixin";
@use "../core/sprite";
@use "../core/sprite_sp";

/*=== contents ===*/




/*---　検索窓（無ければ削除）　---*/
.search {
	&_window {
		&_form {
		}
		&_field {
			border: solid 1px #ccc;
		}
		&_btn {
			&::before {
				display: inline-block;
				content: '';
				@include sprite_mixin.sprite(sprite.$sprite-sprite102);
			}
		}
	}
}

/*---　404　---*/
.error-404{
	padding: 120px 0;
	text-align: center;
	@include mixin.sp {
		padding: 60px rule.$spPadding;
	}
	&_heading{
		margin-bottom: 40px;
		font-size: mixin.rem(60);
		@include mixin.sp {
			font-size: mixin.rem(30);
		}
	}
	&_text{
		margin-bottom: 40px;
	}
}

/*---　gotop　---*/
.gotop {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		background-color: rule.$siteColor;
		&::before {
			display: inline-block;
			content: '';
			width: 12px;
			height: 12px;
			border: 0px;
			border-top: solid 2px #fff;
			border-right: solid 2px #fff;
			position: absolute;
			top: calc(50% - 4px);
			left: 50%;
			transform: rotate(-45deg) translate(-50%);
			transform-origin: 0;
		}
	}
}

.pconly {
	@include mixin.sp {
		display: none !important;
	}
}

.sponly {
	display: none !important;
	@include mixin.sp {
		display: block !important;
	}
}