/*=== contents ===*/

/*---　検索窓（無ければ削除）　---*/
.search {
	&_window {
		&_form {
		}
		&_field {
			border: solid 1px #ccc;
		}
		&_btn {
		}
	}
}

// /*---　3点リーダー（無ければ削除）　---*/
// .text_overflow {
// 	overflow: hidden;
// }

.sponly {
	display: none !important;
}

@include query($sp) {



	.pconly {
		display: none !important;
	}
	.sponly {
		display: block !important;
	}
}