// コンテント幅
@include contentWidth(1040);
@include contentWidth(960);
@include contentWidth(800);

.l-content {
    // セクション上下余白
    &_block {
        padding-top: $blockPadding;
        padding-bottom: $blockPadding;
        @include sp {
            padding-top: $spBlockPadding;
            padding-bottom: $spBlockPadding;
        }
        &_top {
            padding-top: $blockPadding;
            @include sp {
                padding-top: $spBlockPadding;
            }
        }
        &_bottom {
            padding-bottom: $blockPadding;
            @include sp {
                padding-bottom: $spBlockPadding;
            }
        }
    }
}