// title：見出しモジュール
// description：hタグを装飾するためのモジュール

/*===　heading　===*/
.heading {
	@at-root .single h2,
	&02 {
		@extend %headingLineHeight;
		font-size: rem(22);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(20);
			margin-bottom: 10px;
		}
	}
	@at-root .single h3,
	&03 {
		@extend %headingLineHeight;
		font-size: rem(20);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(18);
			margin-bottom: 10px;
		}
	}
	@at-root .single h4,
	&04{
		@extend %headingLineHeight;
		font-size: rem(18);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(16);
			margin-bottom: 10px;
		}
	}
	&20 {

	}
	&30 {

	}
	&40 {

	}
}
