// title：iframe系モジュール
// description：iframeをレスポンシブ対応

/*===　embed　===*/
.embed {
	// youtube
	&_youtube {
		margin-bottom: $textBottom;
		@include sp {
			position: relative;
			width: 100%;
			padding-top: 56.25%;
		}
		iframe {
			@extend %m0a;
			@include sp {
				position: absolute;
				top: 0;
				right: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
	// Google map
	&_gmap {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		margin-bottom: $textBottom;
		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
