.color {
    &_text {
        &01 {
            color: $siteColor;
        }
        &02 {
            color: $accentColor;
        }
        &03 {
            color: $textColor;
        }
        &04 {
            color: $attentionColor;
        }
        &05 {
            color: white;
        }
    }
    &_bg {
        &01 {
            background-color: $siteColor;
        }
        &02 {
            background-color: $accentColor;
        } 
    }
}