/*=== @use ===*/
@use "core/extend";
@use "core/rule";
@use "core/mixin";
@use "core/sprite";
@use "core/sprite_sp";
@use "core/sprite_mixin";

// title：ボタン用モジュール
// description：ボタンの装飾
%icon_pos {
	padding-right: 20px;
	position: relative;
	&:before {
		display: inline-block;
		content: '';
		position: absolute;
	}
}
/*===　btn　===*/
.btn {
	display: inline-block;
	min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
	@include mixin.transition;
	@include mixin.sp {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		@include mixin.transition;
	}
	&_skin {
		&01 {
			color: rule.$siteColor;
			border: 1px solid;
			&:hover {
				background-color: rule.$siteColor;
				color: #FFF;
			}
		}
		&02 {
			background-color: rule.$siteColor;
			color: #FFF;
			border: 1px solid rule.$siteColor;
			&:hover {
				background-color: #fff;
				color: rule.$siteColor;
			}
		}
	}
	&_arrow {
		&_right {
			@extend %icon_pos;
			&:before {
				width: 6px;
				height: 6px;
				border-top: 1px solid rule.$siteColor;
				border-right: 1px solid rule.$siteColor;
				top: 50%;
				right: 12px;
				transform: translatey(-50%) rotate(45deg);
			}
			&:hover {
				&:before {
					border-color: #fff;
				}
			}
		}
	}
	&_attention {
		color: rule.$attentionColor;
		border: 1px solid rule.$attentionColor;
		&:hover {
			background-color: lighten(rule.$attentionColor,0%);
			color: #FFF;
		}
	}
	&_warning {
		color: rule.$warningColor;
		border: 1px solid rule.$warningColor;
		&:hover {
			background-color: lighten(rule.$warningColor,0%);
			color: #FFF;
		}
	}
	&_small {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		@include mixin.transition;
		@include mixin.sp {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			@include mixin.transition;
		}
	}
	&_big {
		width: 100%;
	}
	&_radius {
		@include mixin.radius;
	}
	&_wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mixin.sp {
			padding: rule.$spTextBottom 0;
		}
	}
}



