/*=== @use ===*/
@use "core/extend";
@use "core/rule";
@use "core/mixin";
@use "core/sprite";
@use "core/sprite_sp";
@use "core/sprite_mixin";

// title：表モジュール
// description：表の装飾（ボーダー、レスポンシブ）用モジュール

/*===　table　===*/
.table {
	th {
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}
	th,
	td {
		padding: 8px 10px;
		vertical-align: top;
		@include mixin.sp {
			padding: 8px 10px;
		}
	}
	thead {
		th {
			vertical-align: middle;
		}
	}
	&_skin01 {
		th {
			background-color: rule.$accentColor;
			color: rule.$siteColor;
		}
	}
	&_border {
		th,
		td {
			border: solid 1px #ccc;
		}
	}
	&_center {
		margin: 0 auto rule.$textBottom auto;
		@include mixin.sp {
			margin: 0 auto rule.$spTextBottom auto;
		}
		th {
			text-align: center;
		}
		th,
		td {
			padding: 8px 10px;
		}
	}
	&_stripe {
		tbody tr:nth-of-type(even) {
			background-color: #f9f9f9;
		}
	}
	&_responsive {
		overflow-x: auto;
		table {
			width: 100%;
			* {
				word-break: normal;
			}
		}
	}
}

