/*===　media　===*/
.media {
	display: flex;
	&_left {
		padding-right: 10px;
	}
	&_right {
		padding-left: 10px;
	}
	&_body {

	}
}

// @include query($sp) {
// 	.media {
// 		&_left {
// 		}
// 		&_right {
// 		}
// 		&_body {
// 		}
// 	}
// }

