
/*---　youtube　---*/
.youtube {
	margin-bottom: $textBottom;
	@include sp {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}
	iframe {
		@extend %m0a;
		@include sp {
			position: absolute;
			top: 0;
			right: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}