/*===　sprite/SVG　===*/

/*---　sprite　---*/
%dib {
	display: inline-block;
}
.sprite {
	&01 {
		@extend %dib;
		@include sprite($sprite-sprite01);
		@include sp {
			@include sprite($sprite-sprite_sp01);
		}
	}
	&02 {
		@extend %dib;
		@include sprite($sprite-sprite02);
	}
	&03 {
		@extend %dib;
		@include sprite($sprite-sprite03);
	}
}
/*---　SVG　---*/
.svg {
	&01 {
		width: 100px;
		fill: $siteColor;
		@include sp {
			width: 100px;
		}
	}
}

