/*===　text　===*/
.text {
	&_small {
		font-size: rem(14);
		@include sp {
			font-size: rem(12);
		}
	}
	&_big {
		font-size: rem(18);
		@include sp {
			font-size: rem(16);
		}
	}
}

/*===　heading　===*/
.heading {
	@at-root .single h2,
	&02 {
		@extend %headingLineHeight;
		font-size: rem(22);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(20);
			margin-bottom: 10px;
		}
	}
	@at-root .single h3,
	&03 {
		@extend %headingLineHeight;
		font-size: rem(20);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(18);
			margin-bottom: 10px;
		}
	}
	@at-root .single h4,
	&04{
		@extend %headingLineHeight;
		font-size: rem(18);
		margin-bottom: 10px;
		@include sp {
			font-size: rem(16);
			margin-bottom: 10px;
		}
	}
	&_20 {

	}
	&_30 {

	}
	&_40 {

	}
}

/*===　link　===*/
.icon {
	&_link {
		&:after {
			@include sprite($sprite-sprite100);
			@extend %icon_position;
		}
	}
	&_pdf {
		&:after {
			@include sprite($sprite-sprite101);
			@extend %icon_position;
		}
	}
}
